.login-container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  > * {
    text-align: center;
  }
}

.login-form{
  display: flex;
  flex-direction: column;
}

.data-input {
  width: 500px;
  text-align: center;
}
