<div class="login-container">
  <form class="login-form" [formGroup]="loginForm">
    <div>Veuillez vous identifier</div>

    <mat-form-field class = "data-input" appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input type="text" matInput formControlName="username">
    </mat-form-field>

    <mat-form-field class = "data-input" appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error>Mot de passe invalide</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button (click)="login()">Se connecter</button>
    <button class="mt-5" type="button" mat-raised-button (click)="signUpUser()">S'inscrire</button>

  </form>
</div>
