
<form class="form-dialog" [formGroup]="boatForm">

  <mat-form-field class = "data-input" appearance="outline">
    <mat-label>Nom du bateau</mat-label>
    <input type="text" matInput formControlName="name">
  </mat-form-field>

  <mat-form-field class = "data-input" appearance="outline">
    <mat-label>Nombre de place sur le bateau</mat-label>
    <input type="number" matInput formControlName="size">
    <mat-error>nombre de place incorrect</mat-error>
  </mat-form-field>


  <mat-form-field class = "description" appearance="outline">
    <mat-label>Description</mat-label>
    <input type="text" matInput formControlName="description">
  </mat-form-field>

  <div class="form-dialog-button">
    <button mat-button (click)="cancel()">Annuler</button>
    <button mat-button type="submit" (click)="setData()" >Modifer le bateau</button>
  </div>

</form>


