<div class="nav-container">
  <div class="h4">Boat List</div>
  <div *ngIf="currentUser">
    <div><mat-icon>account_circle</mat-icon></div>
    <div class="h6">{{currentUser.username}}</div>
  </div>
  <button mat-flat-button class="nav-button" (click)="disconnect()">Se déconnecter</button>
</div>
