.boats-container{
margin : 10% 0 0 0;
}

.table-container{
  width: 90%;
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}


.element-detail {
  overflow: hidden;
  display: flex;
}
tr.detail-row {
  height: 0;
}
