<app-navbar></app-navbar>
<div *ngIf="!isDataLoading" class="boats-container center">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z10 table-container" multiTemplateDataRows>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="name">Nom</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="name">Propriétaire</th>
      <td mat-cell *matCellDef="let element">{{element.user.username}}</td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="name">Places</th>
      <td mat-cell *matCellDef="let element">{{element.size}}</td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColums.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            {{element.description}}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="name"></th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button *ngIf="hasProperty(element.user.username)" (click)="editBoat(element)"><mat-icon  >edit</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="name"></th>
      <td mat-cell *matCellDef="let element"><button *ngIf="hasProperty(element.user.username)"  mat-icon-button (click)="deleteBoat(element)"><mat-icon >delete</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
    <tr mat-row *matRowDef="let row ; columns : displayedColums;"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row"></tr>
    <tr mat-row *matRowDef="let elem; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>
</div>
<div *ngIf="isDataLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<app-boat-form (newItemEvent)="hasBoatCreated($event)"></app-boat-form>
