<div class="signup-container">
  <form class="signup-form" [formGroup]="signUpForm">
    <div>Creer votre compte</div>

    <mat-form-field class = "data-input" appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input type="text" matInput formControlName="username">
    </mat-form-field>

    <mat-form-field class = "data-input" appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error>Mot de passe invalide</mat-error>
    </mat-form-field>

    <mat-form-field class = "data-input" appearance="outline">
      <mat-label>Reinsersser votre mot de passe</mat-label>
      <input type="password" matInput formControlName="secondPassword">
    </mat-form-field>
    <div class="mat-error" *ngIf="hasIncorrectPassword">Mot de passe ne correspond pas</div>
    <button class="mt-2" type="submit" mat-raised-button (click)="signUp()">S'inscrire</button>
  </form>
</div>
