<div class="boat-form-container center">
  <form class="" [formGroup]="boatForm">

    <mat-form-field class = "data-input" appearance="outline">
      <mat-label>Nom du bateau</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class = "data-input" appearance="outline">
      <mat-label>Nombre de place sur le bateau</mat-label>
      <input type="number" matInput formControlName="size">
      <mat-error>Mot de passe invalide</mat-error>
    </mat-form-field>


    <div>
      <mat-form-field class = "description" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea type="text"  matInput formControlName="description"></textarea>
        <mat-error>Mot de passe invalide</mat-error>
      </mat-form-field>
    </div>

    <div>
          <button type="submit" mat-raised-button (click)="createBoat()">Valider</button>
    </div>
  </form>
</div>
